table {
    border-collapse: collapse;
}

td {
    text-align: left;
    padding: 8px;
    overflow: auto;
    width: 200px;
    height: 135px;
}

th {
    text-align: center;
    padding: 10px;
}

td, th {
    border: 1px solid #000000;
}

td span {
    color: #ff0000;
}

.lm, .nm {
    color: #bbbbbb;
}

.holiday {
    font-style: italic;
}