@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
	background-color: #55aadd;
    margin: 0;
}

a {
    color: #333333;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #444444;
}

header {
    color: #ffffff;
    background-color: #00008b;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    width: calc(100% - 60px);
	text-align: center;
	z-index: 10;
}

header h1 {
    display: inline-block;
    text-align: left;
    padding: 10px;
    transition: font-size 200ms;
}

.logo {
    display: inline-block;
    width: 75px;
    height: 75px;
    transition: width 300ms, height 300ms;
}

nav {
    text-align: right;
    display: inline-block;
    padding: 10px;
}

nav ul, footer ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

nav li, footer li {
    display: inline-block;
    padding: 0;
    transition: font-size 200ms;
}

nav a {
    color: #dddddd;
    text-decoration: none;
    padding: 20px;
    background-color: #333333;
    transition: color 750ms, background-color 750ms;
	border-radius: 50px;
}

nav a:hover, nav a:focus {
    color: #ffffff;
    background-color: #555555;
}

.navscroll {
    padding: 15px;
    font-size: 12px;
}

#current {
	color: #ffffff;
	background-color: #000000;
}

main {
    text-align: center;
    margin: 20px;
    padding: 25px;
    background-color: #dddddd;
    border-radius: 50px;
}

#menu {
    display: none;
}

.grid {
    display: inline-grid;
    columns: 2;
}

.griditem {
    margin: 10px;
}

.smallimg {
    width: 50%;
}

section {
    background-color: #aaaaff;
    color: #000000;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
}

.red {
    background-color: #880000;
    color: #ffffff;
}

.green {
    background-color: #008800;
    color: #ffffff;
}

.blue {
    background-color: #000088;
    color: #ffffff;
}

.flex {
    display: flex;
    align-items: center;
}

.textleft {
    text-align: left
}

section p {
    font-size: 1.5vw;
}

section a {
    color: #444444;
}

section a:hover, section a:focus {
    color: #666666;
}


.red a, .green a, .blue a {
    color: #bbbbbb;
}

.red a:hover, .green a:hover, .blue a:hover, .red a:focus, .green a:focus, .blue a:focus {
    color: #999999;
}

.extrapadding {
    padding: 25px;
}

.extramargin {
    margin: 30px;
}

.lessmargin {
    margin: 5px;
}

.centercontainer {
    display: inline-block;
    text-align: left;
}

.nowidth {
    width: unset;
}

.shopimage {
    width: 25%;
    height: auto;
}

.fill {
    width: 90%;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border-radius: 30px;
    font-size: 16px;
    background-color: #777777;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 750ms;
}

.button:hover {
    color: #ffffff;
    background-color: #555555;
}

.iblock {
    display: inline-block;
    width: 90%;
}

.third {
    width: 30%;
}

@media screen and (min-width: 1000px) {
    .top {
        grid-row: 1;
    }
    
    .bottom {
        grid-row: 2;
    }

    .left {
        grid-column: 1;
    }

    .right {
        grid-column: 2;
    }

    .half {
        width: 50%
    }

    section p {
        padding: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .shopimage {
        width: 50%;
    }

    .largercolumn {
        flex-direction: column;
    }

    #menu {
        display: inline-block;
    }

    nav {
        display: none;
        text-align: center;
    }

    .navshown {
        display: block;
    }

    nav a {
        padding: 12px;
        font-size: 15px;
    }

    nav li {
        display: block;
        padding: 12px;
    }

    .navscroll {
        padding: 12px;
        font-size: 15px;
    }

    .col {
        flex-direction: column;
    }

    section p {
        font-size: 16px;
    }

    .iblock {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .shopimage {
        width: 75%;
    }

    .smallcolumn {
        flex-direction: column;
    }
    .third {
        width: 60%;
    }
}

@media screen and (max-width: 370px) {
	header {
		margin: 10px;
		width: calc(100% - 39px);
	}
    nav a {
        padding: 5px;
        font-size: 12px;
    }
}

article {
    text-align: left;
}

img {
    width: 100%;
}

.center {
    text-align: center;
}

.round {
    border-radius: 50px;
}

.smallround {
    border-radius: 10px;
}

footer {
    text-align: center;
}


footer a {
	color: #000000;
	text-decoration: none;
	margin: 10px;
	transition: color 500ms;
}

footer a:hover {
	color: #444444;
}

::-webkit-scrollbar {
    border-radius: 25px;
    width: 12px;
    overflow: overlay;
    scrollbar-gutter: initial;
}


::-webkit-scrollbar-track {
    visibility: hidden; 
    margin: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    border: 6px solid #544c4a;
    background-color: #544c4a;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #363636;
    border: 0;
}