@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    color: #000000;
    background-color: #ffffff;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    width: calc(100% - 60px);
    transition: font-size 200ms;
}

header h1 {
    display: inline-block;
    text-align: left;
    padding: 10px;
}

nav {
    text-align: right;
    display: inline-block;
    padding: 10px;
}

nav ul, footer ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

nav li, footer li {
    display: inline-block;
    padding: 0;
}

nav a {
    color: #dddddd;
    text-decoration: none;
    padding: 10px;
    background-color: #333333;
    transition: color 750ms, background-color 750ms;
}

nav a:hover, nav a:focus {
    color: #ffffff;
    background-color: #555555;
}

.cover {
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 25% 0px;
    background-image: url("/assets/img/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 850px) {
    .cover-tagline {
        margin: 25% 0;
    }
}

@media screen and (max-width: 600px) {
    .cover-tagline {
        margin-top: 75%;
        margin-bottom: 40%;
    }
}

main {
    text-align: center;
    margin: 20px;
    padding: 25px;
    background-color: #dddddd;
    border-radius: 50px;
}

article {
    text-align: left;
}

footer {
    text-align: center;
}